{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
      .inputbox1{
        padding: 10px;
        margin: 20px;
      }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="center">
        <h1>Ro'yxatdan o'tish</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="inputbox">
                {% render_field form.username type="text" placeholder="Username" required="required" %}
            </div>
            <div class="inputbox">
                {% render_field form.email type="text" placeholder="Email" %}
            </div>
            <div class="inputbox">
                {% render_field form.fakultet %}
            </div>
            <div class="inputbox">
                {% render_field form.kurs %}
            </div>
            <div class="inputbox">
                {% render_field form.password1 type="password" placeholder="Parol" %}
            </div>
            <div class="inputbox">
              {% render_field form.password2 type="password" placeholder="Parol(Takroran)" %}
            </div>
            <div class="inputbox">
                <input type="submit" value="submit">
            </div>
            <div class="inputbox">
                <a href="{% url 'login' %}" style="display: block; width: 100%;padding: 10px;text-decoration: none; border: 1px solid;border-radius: 10px;">Ortga qaytish</a>
            </div>
            
        </form>
      </div>
</body>
</html>